<div class="row">
  <div class="small-12 columns">
    <h2>Submit a Proposal</h2>
    <p>
      Proposals should be clear and concise. Less than 200 words is ideal, but we will accept
      proposals of any length.
      Give us a high level summary of your talk, and leave the details for the conference.
    </p>
    <p>
      Please leave out any identifying information from your title, abstract, and notes. These will be used
      during the anonymous round. Any information that identifies who you are will be removed prior to judging.
    </p>
  </div>
</div>

<%= render 'proposals/form', button_text: 'Submit Proposal' %>
