@import 'foundation/components/global';
@import 'foundation-icons';
@import "foundation/components/buttons";
@import "foundation/components/grid";
@import "foundation/components/sub-nav";

$base-font-family: 'Raleway', sans-serif;
$header-font-family: 'BellotaRegular', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     32px;

$text-color:       #111;
$background-color: #EDEDEA;
$brand-color:      #DE5842;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-laptop:        800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import "base";

a.button {
  border-radius: 4px;
  color: white;
}

.top-bar .title-area .name a {
  font-family: "BellotaRegular", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.headers {
  text-align: center;
}

.welcome-header {
  font-family: "BellotaRegular", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 2.6em;
  font-style: normal;
  margin-top: 16px;
}


.voting-status {
  position: fixed;
  left: 50%;
  top: 5px;
  margin-left: -200px;
  z-index: 100;
  text-align: center;
  line-height: 35px;
  color: #fff;
  font-weight: bold;
  width: 400px;
  background-color: #333;
  @include radius(3px);
  &.completed {
    background-color: $success-color;
  }
}

textarea {
  resize: vertical;
  height: 16em;
}

[title=required] {
  color: $alert-color;
}

.tabs dd a {
  font-weight: bold;
}

.tabs-content {
  margin-bottom: 0;
}

.user-info {
  dl {
    @include grid-column(4);
    overflow: hidden;
    dt, dd {
      float: left;
    }
    dt {
      clear: left;
      width: 75px;
    }
  }
  .bio {
    @include grid-column(8);
  }
}

.voting {
  @include grid-row();
  .proposal {
    .title {
      font-size: 24px;
      font-weight: bold;
    }
    &.selected .title {
      color: $success-color;
    }
  }
  .tabs {
    .active {
      border: 1px solid #ccc;
      border-bottom: none;
    }
    .actions span {
      @include button($padding: 0.3rem, $radius: 5px);
      margin: 15px 0 0 15px;
      display: block;
      float: left;
      &.selected {
        @include button-style($bg: $success-color);
      }
      &.hide {
        @include button-style($bg: $alert-color);
      }
    }
  }
  .tabs-content {
    border: 1px solid #ccc;
    padding: 0 20px;
    margin-bottom: 20px;
  }
}

.filters {
  @include sub-nav();
}

.results {
  .username {
    font-weight: bold;
  }
}

.proposal-show {
  .content {
    @include grid-column(12);
  }
}
