<footer class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="medium-6 large-4 columns">
        <p>©2016 <a href='http://www.uxburlington.com/'>UX Burlington</a></p>
      </div>
      <div class="medium-6 large-8 columns">
        <ul class="inline-list right">
          <li><a href='http://www.uxburlington.com/conduct'><i class='fi-list-thumbnails'></i> Code of Conduct</a></li>
          <li><a href='http://www.uxburlington.com/diversity'><i class='fi-male-female'></i> Diversity Statement</a></li>
          <li><a href='https://twitter.com/uxburlington'><i class='fi-social-twitter'></i> Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
